[submodule "libdeflate"]
	path = libdeflate
	url = https://github.com/ebiggers/libdeflate
[submodule "parng"]
	path = parng
	url = https://github.com/pcwalton/parng
[submodule "simdtests"]
	path = simdtests
	url = https://github.com/kobalicek/simdtests
